@charset "UTF-8";
/* CSS Document */

body{
    
    font-family: helvetica;
    margin: 0;
    width: 100%;
    background: linear-gradient(45deg, papayawhip 50%, pink 50%);
}
.cap{
    width: 100%;
    height: 589px;
}
h1{
    text-align: center;
    padding-top:2rem;
    font-size: 4rem;
    color: black;
    
}
span{
    color:grey;
}
.cos{
    width: 960px;
    height: 780px;
    margin: auto;
}
.cotxes{
    width: 290px;
    height: 240px;
    float: left;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    background: white;
    
}
.cotxes img{
    height: 200px;
    width: 100%;
    opacity: 50%;
}
.peu{
    text-align: center;
    padding-bottom: 10px;
}
p{
    margin-top: 8px;
    margin-left: 10px;
}
iframe{
    position: absolute;
    width:1000px; 
    height:539px; 
    border:none;
    top:50px;
    overflow-x:hidden;
    overflow-y: hidden;
    margin: 0;
}
.cotxes:hover{
    opacity: 100%;
    animation: 1s rotacio linear;
}
.cotxes img:hover{
    opacity:100%;
    filter: hue-rotate(180deg)
}
@keyframes rotacio{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
@media (max-width:940px){
    .cos{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        height: 100%;

    }
}
